In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('pokemon.csv')

In [14]:
print(df.shape)

(801, 41)

In [15]:
print(df.head())

   pokedex_number                    abilities  against_bug  against_dark  \
0               1  ['Overgrow', 'Chlorophyll']          1.0           1.0
1               2  ['Overgrow', 'Chlorophyll']          1.0           1.0
2               3  ['Overgrow', 'Chlorophyll']          1.0           1.0
3               4     ['Blaze', 'Solar Power']          0.5           1.0
4               5     ['Blaze', 'Solar Power']          0.5           1.0

   against_dragon  against_electric  against_fairy  against_fight  \
0             1.0               0.5            0.5            0.5
1             1.0               0.5            0.5            0.5
2             1.0               0.5            0.5            0.5
3             1.0               1.0            0.5            1.0
4             1.0               1.0            0.5            1.0

   against_fire  against_flying  ...        name  percentage_male  sp_attack  \
0           2.0             2.0  ...   Bulbasaur             88.1         65
1           2.0             2.0  ...     Ivysaur             88.1         80
2           2.0             2.0  ...    Venusaur             88.1        122
3           0.5             1.0  ...  Charmander             88.1         60
4           0.5             1.0  ...  Charmeleon             88.1         80

   sp_defense  speed  type1   type2  weight_kg  generation  is_legendary
0          65     45  grass  poison        6.9           1             0
1          80     60  grass  poison       13.0           1             0
2         120     80  grass  poison      100.0           1             0
3          50     65   fire     NaN        8.5           1             0
4          65     80   fire     NaN       19.0           1             0

[5 rows x 41 columns]

In [16]:
print(df.columns)

Index(['pokedex_number', 'abilities', 'against_bug', 'against_dark',
       'against_dragon', 'against_electric', 'against_fairy', 'against_fight',
       'against_fire', 'against_flying', 'against_ghost', 'against_grass',
       'against_ground', 'against_ice', 'against_normal', 'against_poison',
       'against_psychic', 'against_rock', 'against_steel', 'against_water',
       'attack', 'base_egg_steps', 'base_happiness', 'base_total',
       'capture_rate', 'classfication', 'defense', 'experience_growth',
       'height_m', 'hp', 'japanese_name', 'name', 'percentage_male',
       'sp_attack', 'sp_defense', 'speed', 'type1', 'type2', 'weight_kg',
       'generation', 'is_legendary'],
      dtype='object')

In [17]:
print(df.head())

   pokedex_number                    abilities  against_bug  against_dark  \
0               1  ['Overgrow', 'Chlorophyll']          1.0           1.0
1               2  ['Overgrow', 'Chlorophyll']          1.0           1.0
2               3  ['Overgrow', 'Chlorophyll']          1.0           1.0
3               4     ['Blaze', 'Solar Power']          0.5           1.0
4               5     ['Blaze', 'Solar Power']          0.5           1.0

   against_dragon  against_electric  against_fairy  against_fight  \
0             1.0               0.5            0.5            0.5
1             1.0               0.5            0.5            0.5
2             1.0               0.5            0.5            0.5
3             1.0               1.0            0.5            1.0
4             1.0               1.0            0.5            1.0

   against_fire  against_flying  ...        name  percentage_male  sp_attack  \
0           2.0             2.0  ...   Bulbasaur             88.1         65
1           2.0             2.0  ...     Ivysaur             88.1         80
2           2.0             2.0  ...    Venusaur             88.1        122
3           0.5             1.0  ...  Charmander             88.1         60
4           0.5             1.0  ...  Charmeleon             88.1         80

   sp_defense  speed  type1   type2  weight_kg  generation  is_legendary
0          65     45  grass  poison        6.9           1             0
1          80     60  grass  poison       13.0           1             0
2         120     80  grass  poison      100.0           1             0
3          50     65   fire     NaN        8.5           1             0
4          65     80   fire     NaN       19.0           1             0

[5 rows x 41 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 801 entries, 1 to 801
Data columns (total 40 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   abilities          801 non-null    object
 1   against_bug        801 non-null    float64
 2   against_dark       801 non-null    float64
 3   against_dragon     801 non-null    float64
 4   against_electric   801 non-null    float64
 5   against_fairy      801 non-null    float64
 6   against_fight      801 non-null    float64
 7   against_fire       801 non-null    float64
 8   against_flying     801 non-null    float64
 9   against_ghost      801 non-null    float64
 10  against_grass      801 non-null    float64
 11  against_ground     801 non-null    float64
 12  against_ice        801 non-null    float64
 13  against_normal     801 non-null    float64
 14  against_poison     801 non-null    float64
 15  against_psychic    801 non-null    float64
 16  against_rock       801 non-null    float64
 17  against_steel      801 non-null    float64
 18  against_water      801 non-null    float64
 19  attack             801 non-null    int64
 20  base_egg_steps     801 non-null    int64
 21  base_happiness     801 non-null    int64
 22  base_total         801 non-null    int64
 23  capture_rate       801 non-null    object
 24  classfication      801 non-null    object
 25  defense            801 non-null    int64
 26  experience_growth  801 non-null    int64
 27  height_m           781 non-null    float64
 28  hp                 801 non-null    int64
 29  japanese_name      801 non-null    object
 30  name               801 non-null    object
 31  percentage_male    703 non-null    float64
 32  sp_attack          801 non-null    int64
 33  sp_defense         801 non-null    int64
 34  speed              801 non-null    int64
 35  type1              801 non-null    object
 36  type2              417 non-null    object
 37  weight_kg          781 non-null    float64
 38  generation         801 non-null    int64
 39  is_legendary       801 non-null    int64
dtypes: float64(21), int64(12), object(7)
memory usage: 256.6+ KB

In [18]:
df.describe()

,pokedex_number,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,experience_growth,height_m,hp,percentage_male,sp_attack,sp_defense,speed,weight_kg,generation,is_legendary
count,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,...,8.010000e+02,781.000000,801.000000,703.000000,801.000000,801.000000,801.000000,781.000000,801.000000,801.000000
mean,401.000000,0.996255,1.057116,0.968789,1.073970,1.068976,1.065543,1.135456,1.192884,0.985019,...,1.054996e+06,1.163892,68.958801,55.155761,71.305868,70.911361,66.334582,61.378105,3.690387,0.087391
std,231.373075,0.597248,0.438142,0.353058,0.654962,0.522167,0.717251,0.691853,0.604488,0.558256,...,1.602558e+05,1.080326,26.576015,20.261623,32.353826,27.942501,28.907662,109.354766,1.930420,0.282583
min,1.000000,0.250000,0.250000,0.000000,0.000000,0.250000,0.000000,0.250000,0.250000,0.000000,...,6.000000e+05,0.100000,1.000000,0.000000,10.000000,20.000000,5.000000,0.100000,1.000000,0.000000
25%,201.000000,0.500000,1.000000,1.000000,0.500000,1.000000,0.500000,0.500000,1.000000,1.000000,...,1.000000e+06,0.600000,50.000000,50.000000,45.000000,50.000000,45.000000,9.000000,2.000000,0.000000
50%,401.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000e+06,1.000000,65.000000,50.000000,65.000000,66.000000,65.000000,27.300000,4.000000,0.000000
75%,601.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,...,1.059860e+06,1.500000,80.000000,50.000000,91.000000,90.000000,85.000000,64.800000,5.000000,0.000000
max,801.000000,4.000000,4.000000,2.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,1.640000e+06,14.500000,255.000000,100.000000,194.000000,230.000000,180.000000,999.900000,7.000000,1.000000